@import 'reset';
@import 'variables';
@import 'typography';
@import 'reset';
@import 'base';

/*** Please replace the example styling rules below with your own styling rules ***/

.body{
  overflow: hidden;
}

.container {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

nav{
  top: 0px;
  left: 0px;
  width: 1903px;
  height: 115px;
  background: #003C55 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  float: left;
  position: absolute;
}

.header{
  top: 0px;
  margin-left: 134px;
  width: 260px;
  height: 115px;
  opacity: 1;
}

.wrapper{
  display: grid;
  width: auto;
  grid-template-columns: 20px 30px 10px;
}

.div2{
  margin-left: 761px;
  z-index: 9999;
}

.div3{
  padding-top: 25px;
  margin-left: 1661px;
  margin-right: 136px;
  z-index: 9999;
  position: absolute;
}

.text{
  top: 27px;
  left: 761px;
  width: 426px;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #F4F5F8;
  opacity: 1;
}

.joinus-1{
  top: 47px;
  left: 1692px;
  width: 58px;
  height: 23px;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0px;
  color: #003C55;
  opacity: 1;
}

.joinus-2{
  top: 47px;
  left: 1692px;
  width: 58px;
  height: 23px;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0px;
  color: #003C55;
  opacity: 1;
}

.footer{
  width: 1903px;
  left: 0px;
  display: flex;
  height: 114px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.dark-side{
  top: 999px;
  padding-left: 675px;
  padding-bottom: 31px;
  font-size: 36px;
  height: 50px;
  text-align: right;
  letter-spacing: 0px;
  color: #F4F5F8;
  opacity: 1;
}

.btn-1{ 
  top: 42px;
  left: 1661px;
  width: 123px;
  height: 31px;
  background: #FFE000 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 6px #00000029;
  border: 1px solid #707070;
  opacity: 1;
}

.btn-2{ 
  top: 42px;
  margin-left: 559px;
  width: 260px;
  height: 31px;
  background: #FFE000 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 6px #00000029;
  border: 1px solid #707070;
  opacity: 1;
}

.content{
  top: 115px;
  margin-left: 271px;
  width: 1374px;
  height: 851px;
  background: #F4F5F8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.const{
  top: 457px;
  left: 281px;
  width: 240px;
  height: 93px;
  font-family: 80px Droid Sans Mono;
  text-align: left;
  letter-spacing: 0px;
  color: #003C55;
  opacity: 1;
}

.content-body{
  display: grid;
  grid-template-columns: 65% 35%;
  top: 341px;
  margin-left: 271px;
  width: 1374px;
  height: 851px;
  background: #F4F5F8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.content-text-1{
  padding-top: 341px;
  left: 527px;
  width: 48px;
  height: 93px;
  font-family: 80px ;
}

.content-text-2{
  margin-top: 232px;
  margin-left: 20px;
  width: 434px;
  height: 333px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 6px 6px 6px #00000029;
  opacity: 1;
}

/*Form*/

.form-content{
  width: 818px;
  height: 537px;
}

.app-form{
  width: 260px;
  padding-top: 92px;
  margin-left: 583px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: -1px;
  color: #003C55;
  opacity: 1;
  height: 20px;
}

.first-name{
  display: grid;
  grid-template-columns: 393px 393px;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-top: 123px;
  margin-left: 279px;
}

.input-box input{
  top: 300px;
  height: 21px;
  width: 393px;
  outline: none;
  font-size: 11px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
}

.adress-form{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: -1px;
  color: #003C55;
  opacity: 1;
  margin-top: -200px;
  margin-left: 279px;
}

.input-box2 input{
  top: 300px;
  height: 21px;
  width: 816px;
  outline: none;
  font-size: 11px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
}

.address-line1{
  padding-bottom: 15px;
  margin: 20px 0 12px 0;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  margin-left: 279px;
}

.input-box-settings{
  display: grid;
  grid-template-columns: 50%;
  margin: 20px 0 12px 0;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-top: 1px;
}

.input-box2 input{
  height: 21px;
  width: 816px;
  outline: none;
  font-size: 11px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
}

.address-line2{
  width: 816px;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-left: 279px;
}

.input-box-settings2{
  display: grid;
  grid-template-columns: 50%;
  margin: 20px 0 12px 0;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.city{
  display: grid;
  grid-template-columns: 20% 20% 30%;
  max-width: 818px;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  margin-left: 279px;
}

.input-box-city input{
  top: 300px;
  height: 21px;
  width: 233px;
  outline: none;
  font-size: 11px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
}

.input-box-city2 input{
  top: 300px;
  height: 21px;
  width: 241px;
  outline: none;
  font-size: 11px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
}

.input-box-city3 input{
  top: 300px;
  height: 21px;
  width: 245px;
  outline: none;
  font-size: 11px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
}

/*Dropdown menu (State)*/

select {
  border:0;
  background: white;
  flex: 1;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: flex;
  width: 241px;
  height: 26px;
  line-height: 3;
  overflow: hidden;
  outline: none;
  font-size: 11px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  box-shadow: 0px 3px 10px black;
  color: #707070;
}

.select::after {
  position: absolute;
  overflow: hidden;
  top: 110px;
  right: 110px;
  width: 11px;
  height: 11px;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events:none;
}

.contact-info{
  width: 360px;
  margin-bottom: -50px;
  margin-top: 50px;
  margin-left: 279px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0px;
  color: #003C55;
  opacity: 1;
}

.phone-number{
  display: grid;
  grid-template-columns: 393px 393px;
  width: 818px;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color: #003C55;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  margin-top: 65px;
  margin-left: 279px;
}

.btn-3{
  margin-top: 50px;
  width: 260px;
  height: 31px;
  align-items: right;
  background: #FFE000 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 6px #707070;
  border: 1px solid #707070;
  opacity: 1;
}

.joinus-3{
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0px;
  color: #003C55;
  opacity: 1;
}

#register-btn{
cursor: not-allowed;
}


